@font-face {
  font-family: 'BlockGothic';
  src: url('../fonts/BlockGothicRR-MediumExtraCond.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BlockGothicRR-MediumExtraCond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BlockGothicRR-MediumExtraCond.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BlockGothicRR-MediumExtraCond.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BlockGothicRR-MediumExtraCond.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Luna';
  src: url('../fonts/Luna.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Luna.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Luna.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Luna.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Luna.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DKLemon';
  src: url('../fonts/DK Lemon Yellow Sun.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DK Lemon Yellow Sun.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DK Lemon Yellow Sun.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DK Lemon Yellow Sun.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DK Lemon Yellow Sun.svg#svgFontName') format('svg'); /* Legacy iOS */
}

p.dklemon { font-family: DKLemon; font-size: 25px; }

.normal-copy { text-align: left; }

nav.navbar {
	background-color: #86ec86;
	color: white;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}


.venue-section {

}

.intro-section h1 { font-family: "BlockGothic"; font-size: 120px; }
.intro-section h2 { font-family: "Luna"; font-size: 60px; color: #86ec86; }
.intro-section h4 { font-family: "Luna"; font-size: 45px; }

.venue-section h1 { font-family: "BlockGothic"; font-size: 80px; color: #86ec86; }
.venue-section h2 { font-family: "Luna"; font-size: 50px; margin-top: 0px; }
.venue-section h3 { font-family: "DKLemon"; font-size: 40px; margin-top: 0px; }

.accommodation-section h1 { font-family: "BlockGothic"; font-size: 80px; }
.accommodation-section h4 { font-family: "Luna"; font-size: 30px; color: #86ec86; }
.accommodation-section h5 { font-family: "DKLemon"; font-size: 20px; }
.accommodation { margin: 10px 0px; }

.rsvp-section h1 { font-family: "BlockGothic"; font-size: 80px; color: #86ec86; }
.rsvp-section label { font-family: "DKLemon"; font-size: 20px; }
.rsvp-section h4 { font-family: "Luna"; font-size: 30px; color: #86ec86; }


.btn.rsvp { font-family: "Luna"; width: 100%; height: 70px; background-color: #86ec86; color: #ffffff; font-size: 30px; }
.btn.rsvp-small { font-family: "Luna"; width: 100px; height: 50px; background-color: #86ec86; color: #ffffff; font-size: 30px; }

#map { height: 400px; margin-top: 30px; }




.intro-section {
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background: #fff;
}

.bg-spacer {
    height: 10%;
}

.venue-section {
    padding-top: 20px;
    text-align: center;
    background: #fff;
}

.accommodation-section {
    padding-top: 20px;
    text-align: center;
    background: #fff;
}


/*
#bg-one {
    background: url('../img/barn.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg-two {
    background: url('../img/barn.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg-three {
    background: url('../img/barn.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

/* 992px */

@media(max-width:768px ) {

    .normal-copy { text-align: center; }

    .venue-section h1, .venue-section h2, .venue-section h3 { text-align: center; }

    #map { width: 95%; height: 300px; clear: both; }
}

@media(min-width:769px) and (max-width: 1170px) {
	.venue-section { height: 90%; }
}

@media (min-width: 480px) {
    .btn.rsvp { font-size: 50px; }
}

.rsvp-section {
    height: 80%;
    padding-top: 20px;
    text-align: center;
    background: #fff;
}